*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: var(--background) !important;
}

:root{
    --background:#000000;
    /* --background:#0F0D0D; */
    --heilight:#EDBFFF;
    --text:#FFFFFF;
}

#main{
    width: 100%;
    overflow: hidden;
    position: relative;
}


#page1{
    width: 100%;
    min-height: 100vh;
    color: #fff;
}

#nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
}

#nav #nav-part1 h4{
    font-size:26px;
    font-weight: 600;
    letter-spacing: -2px;
}

#nav #nav-part2{
    display: flex;
    gap: 20px;
}

#nav #nav-part2 a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
#nav #nav-part2 a:nth-child(1){
    color: var(--heilight);
}

#nav #nav-part2 a:hover{
    color: var(--heilight);
}

#nav #nav-part2 a:nth-child(1){
    border-bottom: 1.4px solid #fff;
}

#nav-part3 #circle{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #fff;

}

#page1>h1{
    font-size: 8vw;
    font-weight: 400;
    margin-top: 12vw;
    margin-left: 10vw;
    line-height:6vw;
}
#page1>h2{
    font-size: 8vw;
    font-weight: 400;
    margin-left: 22vw;
}

#page1 video{
    width: 60%;
    height:100%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    z-index: -9;    
}


#page2{
    width: 100%;
    min-height:80vh;
    color: transparent;
    padding:5vw 5vw;
    border-bottom: 2px solid #0f0d0d2a;
}

#page2>h1{
    font-size: 6vw;
    font-weight: 500;
}

#page2-container{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page2-left{
    width: 40%;
}
#page2-left h2{
    font-size: 4vw;
    font-weight: 400;
    text-transform: uppercase;
    scale: 0;
    line-height:4vw;
}
#page2-right{
    width: 24%;
}
#page2-right p{
    font-size: 1.4vw;
    font-weight: 400;
}
#page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding:.4vw 1vw;
    margin: 1vw 0;
    font-size: 1.2vw;
    font-weight: 400;
    background-color: #EDBFFF;
    scale: 0;
}


/* page3 */

#page3{
    width: 100%;
    min-height: 100vh;
    padding:4vw;
    border-bottom: 2px solid #0f0d0d2a;
}

#page3>h1{
    margin-top: 2vw;
    font-size: 6.8vw;
    font-weight:400;
}

#page3 #page3-part1{
    margin-top: 4vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
#page3 #page3-part1 #img1{
    margin-top: 6vw;
    width: 500px;
}

#page3 #page3-part1 #img2{
    width: 500px;
}

#page3 #page3-part2{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#page3 #page3-part2 #img3{
    margin-top: 10vw;
    width: 500px;
}

#page3 #page3-part2 #img4{
    width: 500px;
}
#page3 #page3-part3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page3 #page3-part3 h1{
    font-size: 6.4vw;
    font-weight:400;
    text-transform:lowercase;
}


#page3 #page3-part3 button{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:var(--background);
    font-size: 1.2vw;
    letter-spacing: 2px;
    color:var(--text);
    margin-right: 10vw;
    transition: all 1s ease-in-out;
    border: none;
    cursor: pointer;
}
#page3 #page3-part3 button:hover{
    background-color: var(--heilight);
    font-size: 1.2vw;
    letter-spacing: 2px;
    color:var(--text);
    margin-right: 10vw;
    transition: all 1s ease-in-out;
}


/* page4 */

#page4{
    width: 100%;
    height: 80vh;
    padding:6vw 4vw;
    position: relative;
    border-bottom: 1px solid #9b999969;
}

#page4 .elem{
    display: flex;
    align-items: center; 
    justify-content: center;
    /* background-color:salmon;  */
    position: relative;
}

#page4 .elem img{
    position: absolute;
    width: 300px;
    opacity: 0;
    transition: all ease-out .5s;
    transform: translateY(10%) rotate(2deg);
}

#page4 .elem img:nth-child(1){
    left: 4%;
}
#page4 .elem img:nth-child(3){
    right: 4%;
}

#page4 .elem .text-div{
    /* background-color: #EDBFFF; */
    height: 130px;
    overflow: hidden;
}

#page4 .elem h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 6.2vw;
    font-weight: 200;
    transition: all ease-out .5s;
}

#page4 .elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}

#page4 .elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}


/* page5 */

#page5{
    width: 100%;
    height: 120vh;
    position: relative;
    color: #fff;
    padding: 0 4vw;
    
}

#page5 h2{
    font-size:6vw;
    font-weight: 500;
    padding: 2vw 0;
}
#page5 h2 span{
    color: #EDBFFF;
}

.page5-clients{
    width: 100%;
}

.page5-clients .clients{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #b6b5b5;
}

.page5-clients .clients:last-child{
    padding-top: 4vw;
}

.page5-clients .clients h4{
    font-size: 1.8vw;
    font-weight: 200;
    opacity: .7;
}

.page5-clients .clients img{
    height: 270px;
    width: 270px;
    object-fit: cover;
    object-position: center;
    border-radius: 10%;
    position: absolute;
    /* transform: translate(-50% , -50%); */
    opacity: 0;
    transition: all linear .5s;
}


#page6{
    width: 100%;
    height:60vh;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color:#0F0D0D;
    padding:4vw;
}

#page6 p{
    color: var(--text);
    opacity: .7;
}